<div class="col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Working Orders</strong></h3>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<td>
							Market
						</td>
						<td>
							Period
						</td>
						<td>
							Working
						</td>
						<td>
							Level
						</td>
						<td>
							Latest
						</td>
						<td>
							Good Till
						</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{{#each model as |item|}}
            {{working-order-row item=item delete="delete"}}
						{{else}}
							<td colspan="8" class="alert alert-warning col-sm-8 text-center">
								You have no Working orders. Head to
								{{#link-to 'account.search' tagName="a" }}Search and Deal{{/link-to}} and make some!
							</td>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
